.hero-banner {
    .swiper {
        height: calc(100vh - 101px);
    }
}

// custom-card-slider
.custom-card-slider {
    .swiper {
        padding-top: 0.875;
        padding-bottom: 0.875;
    }

    .card-wrapper-title {
        padding-left: 10px;
    }

    .swiper-wrapper {
        padding: 10px;
    }

    .css-bhp9pd-MuiPaper-root-MuiCard-root {
        box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2);
    }
}