.main-header {
    box-shadow: $base_shadow;
    transition: $cmn_transition;

    .top-nav {
        border-bottom: $cmn-border-sm;

        li {
            padding-left: 0;
            padding-right: 0;
        }

        .nav-link {
            display: inline-block;
            font-size: map-get($font, small_font);
            padding: 0 1rem 0 0;
        }
    }

    ul {
        margin-bottom: 0;
    }

    .nav-link {
        color: $primary_green;
    }

    .center-nav {
        padding: 1rem 0;

        .custom-icons {
            a {
                margin-left: 1.3rem;
                font-size: map-get($font, small_font);

                svg {
                    font-size: 20px;
                    color: $primary_green;
                }
            }
        }
    }

    .bottom-nav {
        .nav-link {
            text-transform: uppercase;
        }
    }
}