@import "mixin";

// ==========
// Text Colors
.text-black {
    color: $primary_black;
}

// ==========
// Common Classes
.f-center {
    @include f-center;
}

.p-center {
    @include p-center;
}

.px-center {
    @include px-center;
}

.py-center {
    @include py-center;
}

.o-contain {
    object-fit: contain;
}

.o-cover {
    object-fit: cover;
}

// ==========
// Text Colors


// ==========
// Backgrounds

.bg-blue {
    background-color: $primary_blue;
}

// ==========
// Spaces
.mt-5 {
    margin-top: $unit-5 !important;
}

.mb-5 {
    margin-bottom: $unit-5 !important;
}


.mt-6 {
    margin-top: $unit-6;
}

.pt-6 {
    padding-top: $unit-6;
}

.py-6 {
    padding-top: $unit-6;
    padding-bottom: $unit-6;
}

.my-6 {
    margin-top: $unit-6;
    margin-bottom: $unit-6;
}

// ==========
// Overlays

// Buttons
// ==========
.btn {
    &.cmn-btn {
        position: relative;
        font-size: 15px;
        padding: 1.125rem 2.66rem;
        letter-spacing: 0.03em;
        line-height: 1.3;
        border-radius: 12px;
        color: $white;
        background-color: $primary_green;

        &:focus{
            border-color: transparent;
            outline: none;
            box-shadow: none;
        }
    }      
}
// ==========
// Others

// Headings

// Common Navigation

// Preloader CSS
