// ==========
// Colors
$white : #ffffff;
$black : #000000;
$circle-grey: #EFEFEF;
$lightBlur_border: #58688C;
$lighter_grey: #F8F8F8;
$body_grey: #E5E5E5;
$primary_black: #151515;
$primary_blue :#21438E;
$darken_blue: #11285B;
$primary_green : #6A983C;
$circle_blue_100: #21438E;
$border-color: rgba(7, 24, 47, 0.05);

// ==========
// Typography
$primary_fonts: 'Poppins',
sans-serif;

$font:("small_font": 12px,
    "primary_font": 16px,
    "base_font": 20px,
    "heading_one": 62px,
    "heading_two": 32px,
    "heading_three": 1.75rem,
    "heading_four": 1.5rem,
    "heading_five": 18px,
    "heading_six": 14px);

$font-weight:("lighter": 300,
    "regular": 400,
    "medium": 500,
    "light_bold": 600,
    "semi_bold": 700,
    "ultra_bold": 900);


h1,
.h1,
h2,
.h2 {
    font-weight: map-get($font-weight, regular);
    line-height: 1.2;
}

h1,
.h1 {
    font-size: map-get($font, heading_one) !important;
    line-height: 74px;
    letter-spacing: 1.86px;
    margin: 0 0 1.25rem;
}

h2,
.h2 {
    font-size: map-get($font, heading_two);
    font-weight: map-get($font-weight, light_bold);
    line-height: 38.4px;
    letter-spacing: 0.96px;
}

h3,
.h3 {
    font-size: map-get($font, heading_three);
}

h4,
.h4 {
    font-size: map-get($font, heading_four);
    font-weight: map-get($font-weight, light_bold);
    letter-spacing: 0.72px;
}

h5,
.h5 {
    font-size: map-get($font, heading_five);
}

h6,
.h6 {
    font-size: map-get($font, heading_six);
}

p:empty {
    display: none;
}


// Transitions
$cmn_transition: all 200ms ease;
// ==========
// Shadows
$base_shadow: 0 .5rem 1rem rgba(0, 0, 0, .15);
$cmn-box-shadow: 0px 20px 40px rgba($black, .14);
// ==========
// Border Radius
$cmn-box-radius-sm: 8.125rem 1.25rem 8.125rem 1.25rem;
// ==========
// Shapes
$cmn-border-sm: 1px solid rgba(7, 24, 47, 0.05); 
$cmn-border-md: 2px solid rgba(7, 24, 47, 0.05); 

// ==========
// Margin & Paddings
$unit-4: 2.25rem;
$unit-5: 3.125rem;
$unit-6: 4rem;
$unit-7: 5.5rem;
$unit-8: 8.75rem;

